<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/fontawesome.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/flex-slider.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/templatemo-stand-blog.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/owl.css}"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>


<body>
<div th:insert="navbar :: navbar">  </div>

<section class="contact-us">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row" style="width: 100%">
                        <div class="sidebar-item contact-form" style="width: 100%">
                            <div class="sidebar-heading">
                                <h2>Make a reservation</h2>
                            </div>
                            <div class="content">
                                <form id="userReservation" th:object="${userReservation}" th:action="@{/post/makereservation/{postId}(postId=${post.getPostId()})}" method="post">
                                    <input type="hidden" th:field="*{userReservationId}"/>
                                    <div class="">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <input name="phoneNumber" id="phoneNumber" placeholder="Phone number"
                                                       type="text" th:field="*{phoneNumber}">
                                                <label th:if="${#fields.hasErrors('phoneNumber')}"
                                                       th:errors="*{phoneNumber}">Error</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <input name="totalRes" id="totalRes" placeholder="Number of people"
                                                       type="text" th:field="*{totalRes}" value="1">
                                                <label th:if="${#fields.hasErrors('totalRes')}"
                                                       th:errors="*{totalRes}">Error</label>
                                                <label th:if="${error != null}" th:text="${error}"></label>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="main-button">Make a reservation</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script type="text/javascript" th:src="@{/js/custom.js}"></script>
<script type="text/javascript" th:src="@{/js/owl.js}"></script>
<script type="text/javascript" th:src="@{/js/slick.js}"></script>
<script type="text/javascript" th:src="@{/js/isotope.js}"></script>
<script type="text/javascript" th:src="@{/js/accordions.js}"></script>


</body>

</html>