<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>

<body>

<!-- Header -->
<header th:fragment="navbar"  class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/post/list}"><h2>Help the Refugees<em>.</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/post/list}">Posts <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/post/new}">Add post</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/{username}(username=${#authentication.getName()})}">My account</a>
                    </li>

                    <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link" th:href="@{/user/list}">Manage users</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        <a class="nav-link" onclick="document.forms['logoutForm'].submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


</body>

</html>